@page
@* <div class="container"> *@
@*     <div class="row p-1"> *@
@*         <div class="col-1">User</div> *@
@*         <div class="col-5"><input type="text" id="userInput" /></div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-1">Message</div> *@
@*         <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-6 text-end"> *@
@*             <input type="button" id="sendButton" value="Send Message" /> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-6"> *@
@*             <hr /> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row p-1"> *@
@*         <div class="col-6"> *@
@*             <ul id="messagesList"></ul> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
<head>
    <link rel="stylesheet" href="~/js/xterm/css/xterm.css" />
</head>
<style>pre{margin-bottom: 0; min-width: 1px; min-height: 21px;}</style>
<div class="container">
    <div id="terminal"></div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput"/></div>
        </div>
        <div class="col-6">
            <input type="button" id="streamButton" value="Start Streaming"/>
            <input type="button" id="uploadButton" value="Start Upload"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="messagesList"></div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/xterm/lib/xterm.js"></script>
<script src="~/js/xterm/lib/xterm-addon-attach.js"></script>
<script src="~/js/chat.js"></script>
@* <script src="~/js/chat_copy.js"></script> *@